$gray-500: #667085;
$gray-300: #D0D5DD;
$gray-50: #F9FAFB;
$gray-1: #F9FAFB;


$error-1: #FF9D83;
$error-2: #FF3932;

$success-1: #B4E87B;
$success-2: #60B527;

$primary-300: #5BDCC6;
$primary-600: #026E78;
